fastapi==0.133.0
uvicorn==0.41.0
sqlalchemy==2.0.47
psycopg2-binary==2.9.11
python-dotenv==1.2.1
python-multipart==0.0.22
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
PyJWT==2.11.0
google-auth==2.14.0
requests==2.31.0
resend==2.23.0
yt-dlp